:root {
  --black: #1f1f1f;
  --dark: #313131;
  --white: #fff;
  --light: #f1f1f1;
  --red: #ea5055;
  --dark-red: #a10005;
  --blue: #72b7f8;
  --green: #00b89a;
  --yellow: #ffeb3b;
  --gray: #969593;
  --metal: #7f7f7f;
  --downriver: #081753;
  /* --light-shadow:0 4px 20px 12px #00000024;
  --shadow:1px 1px 3px 1px rgb(114 114 114 / 54%); */

  --font-size: .9rem;
}

* { box-sizing: border-box; scrollbar-width: thin; scrollbar-color: var(--black) var(--white);}

html {
  font-family: "Be Vietnam Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {  
  margin: 0;
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
  font-family: Nunito,sans-serif;
  letter-spacing: 0.7px; 
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

nav {display: flex; flex-direction: column; align-items: center; justify-content: center;}
nav a {text-transform: uppercase;}

  aside nav li {transition: all .25s;}
  aside nav li:hover {padding-left: 10px; color: var(--blue);}

main { position: relative; min-height: 100vh; width: calc(100% - 250px); margin-left: 250px; overflow-x: hidden;  }

header { position: sticky; top: 0; height: 50px; display: flex; align-items: center;}
/************************************************/
p,.badge,.btn,small, a{
  color: var(--gray);
  margin: 0;
}

.title, h5,h1,.btn,.badge ,label{
  letter-spacing: 1px;
}

.shadow {box-shadow: 0 4px 7px rgb(0 0 0 / 12%);}
.light-shadow,.btn-dark,.badge{box-shadow: var(--light-shadow);}
/********************************************/
label { max-width: 100%; display: inline-block;  
  margin-bottom: .5rem; font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input,select,textarea {
  background-color: var(--light);
  color: var(--black);
  display: block;
  font-size: 1rem;
  padding: .75rem 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: .25rem;
  border: 0;
  outline: none;
  width: fit-content;
}

input {padding: .63rem 1.2rem;}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);  
  color: var(--white);  
  user-select: none;
  font-size: .85rem;
  font-weight: 400;
  line-height: 1.5;
  border: 0;
  border-radius: .25rem;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  white-space: pre;
  transition: opacity .15s ease-in-out;
}

a{ text-decoration: none; color: inherit; text-align: center;}

.btn:hover{ opacity: 0.9;}

.alert { margin: 15px 0; }

.btn, .alert {padding: .75rem 1.2rem;}

button:disabled,
button[disabled]{
  background-color: var(--dark) !important;
  color: var(--gray);
  cursor: initial;
}
/****************************************/
ul { margin: 0; padding: 0; list-style: none; }

.br7 {border-radius: 7px;}

.b-title {
  margin-bottom: 50px;
  position: relative;
  text-transform: uppercase;
}

.b-title:before {
  background: var(--blue);
  bottom: -15px;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  width: 80px;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.125;
  display: flex;
  align-items: flex-start;
}

h2 {
  font-size: 1.5rem;
}

form {
  background-color: var(--dark);
}

[data-rich-colors=true] [data-sonner-toast][data-type=success],
 [data-rich-colors=true] [data-sonner-toast][data-type=success] [data-close-button] {
  background: var(--black);
  color: var(--blue);
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: var(--gray);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--black);
}