.box {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  width: calc(100vh / 2);
  height: calc(100vh / 1.3);
  text-align: center;
}

.box button {border: 0; padding: 5px 10px; text-transform: uppercase; cursor: pointer;}

.box img {max-width: 70%;}

.card_product {
  background-color: #00000056;
  color: var(--white);
  backdrop-filter: blur(3px);
}

.card_product_footer>* {
  font-size: 0.85rem;
  padding: 10px 25px !important;
  background-color: inherit;
}

.card_product_footer *:last-child {border-right: 0 !important;}

.card_product_footer>*:hover {
  background-color: var(--light);
}

.card_product button {color: var(--white);}