.drop_list {
  position: relative;
}

.drop_list button {
  min-height: 45px;
  background-color: var(--light);
  color: var(--black);
  display: block;
  font-size: 1rem;
  padding: .7rem 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: .25rem;
  border: 0;
  text-align: left;
}

.drop_list ul {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 99999;
  max-height: 300px;
  overflow: auto;
}

.drop_list li:hover {
  background-color: var(--light);
  color: var(--black);
  transition: background-color .25s;
}

.drop_list ul li:last-child {border-bottom: 0 !important;}
