.sidebar {
  height: 100%;
  width: 250px;  
  position: fixed;
  bottom: 0;
  left: 0;  
  text-align: left;
  transform: translateX(0);
  z-index: 999;
  transition: transform .25s cubic-bezier(.5, 0, .5, 1);
}

.sidebar_content {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;  
}

.sidebar_toggle {
  position: absolute;
  top: .6em;
  right: -55px;
  font-size: 20px;
  border-radius: 0 .25em .25em 0;
  cursor: pointer;
  border: 0;
  background-color: inherit;
}