.table {
  display: inline-block;
  table-layout: fixed;
  overflow-x: auto;
  position: relative;
}

.table table,
.table th,
.table td {
  border: 1px solid var(--gray);
  border-collapse: collapse;
  padding: 7px 10px;
  outline: none;
}

.table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 50px;
  min-width: 50px;
  max-width: 150px;
}

.table td:first-child { width: 15px;}

.table td:last-child { 
  position: sticky;
  right: 0;
  z-index: 2;
  text-align: center;
}

.table td:focus {
  box-shadow: inset 0px 0px 0px 2px var(--blue);
  background-color: var(--white);
  color: var(--black);
  user-select: text;
  /* white-space: initial;
  width: 100px;
  min-width: 100px;
  max-width: 200px */
}

.table tr:hover,
.list li:hover {
  background-color: var(--dark);
  color: var(--white);
}

.table thead {
  background-color: var(--dark);
  color: var(--white);
}

.table thead th {
  position: sticky;
  top: 0;
  background-color: var(--black);
  z-index: 9;
}

.table button { font-size: 20px; background-color: inherit; border: 0; padding: 0; cursor: pointer;}

.table ul {
  position: absolute;
  z-index: 99;
}